*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    
} 
p{
    font-size: 1.2rem;
    text-align: justify;
}
[class*="col-"]{
    float: left;
    padding: 10px;
    /* width: 100%; */
    
}
[class*="col-"]{
    
    width: 100%;
    
}
button{
    padding: 8px;
    font-size: 1.2rem;
}
/* navbar starts here */
.edit{
    width: 250px;
    height: auto;
}
.navbar{
    background-color: rgb(160, 129, 155,.7);
    padding: 1% 3%;
    text-align: center;
       
}
.nav-title h1{

    color: white;
    margin: 0;
    padding: 10px ;
    
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    

}
.nav-menu a:hover{
    background-color: rgb(112, 56, 95);
    

}
.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(153, 105, 105,.5);
    border-radius: 10px;
    padding: 10px;
    margin: 7px 0px;
    
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar ends here */

/* profile starts here */
.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.side img{
    height: 200px;
    position: absolute;
    right: 60px;
    top: 40px;
    transition: transform 2s;
    

}
.aside img{
    height: 200px;
    transition: transform 2s;
    
}

.aside  img:hover, .side img:hover{
    /* animation-name: img-anim; */
    /* animation-duration: 3s; */
    transform: rotate(180deg);

}
.aside{
    position: absolute;
    left: 60px;
    
}
.profile-desc{
    text-align: center;
    /* margin: 100px; */
    margin-top: 170px;
    margin-bottom: 100px;
}
.profile-desc h1{
    text-align: center;
    font-family: 'Allison', cursive;
    font-size: 3rem;
}
.profile-desc p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* profile ends here */

/* profile starts here */
.about-me .heading{
    text-align: center;
    color: white;

    text-decoration: dotted;

}
.about-me{
    margin: 100px 0 20px 0;
    background-color: rgb(108, 158, 167);
    padding: 1% 7%;
    color: white;
    text-align: center;
}

.infos{
    color: white;
    
}
.infos .left {
    text-align: center;
    /* justify-content: center; */
}
.infos .left img{
    border: 5px solid white;
    border-radius: 50%;
   
}
.infos .right p{
    text-align: center;
   
}
.about-me::after{
    content: '';
    display: table;
    clear: both;
}
.dotted-hr{
    margin: 20px auto;
    width:70px;
    border: dotted 6px white;
    border-bottom: none;
}
/* profile ends here */

/* Cards starts here */
.card{
    background-color: gray;
    height: 750px;
    padding-right: 2px;
}
.prof-experience{
    /* text-align: center; */
    align-items: center;
    
    
}
.work-exp .edu .skill{
    /* background-color: gray; */
    padding: 7px;
    height: 600px;
    width:95%;
    margin: 5px ;
    border-radius: 5px;
    
}
.card:hover{
    box-shadow: 5px 5px 5px black ;
    /* background-color: gray; */
}
.work-exp .card-pic img{
    height: 100px;
    margin: 0;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid white;
    
}
li{
    font-weight: bold;
}
.card-title{
    color: white;
    text-align: center;
    background-color: rgb(76, 77, 75);
    /* height: 40px;    */
    /* padding: 1px; */

}
.card-title h2{
    padding: 5px;
}

.edu .card-pic2 img{
    
    height: 100px;
    margin: 0;
    border-radius: 50%;
    margin-top: 10px;
    /* border: 0px solid white; */
    
}
.skill .card-pic3 img{
    height: 100px;
    margin: 0;
    border-radius: 50%;
    margin-top: 10px;
    
}
.work-exp .card-pic{
    text-align: center;
}
.edu .card-pic2{
    text-align: center;
}
.skill .card-pic3{
    text-align: center;
}
/* progressbar card starts here */
.card-desc3 li{
    position: relative;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
}
.card-desc3 li::before{
    position: absolute;
    content: '';  
    /* important */

    top: calc( 100% + 5px);
    background-color: rgb(83, 93, 121);
    height: 30px;
    width: 100%;
    border-radius: 10px;
    left:0;
    /* important */
}
.card-desc3 li::after{
    content: '';
    position: absolute;
    top: calc( 100% + 5px );
    background-color: royalblue ;
    width: 0%;
    height: 30px;
    left: 0;




            animation-duration: 3s;
            animation-timing-function: linear;
            animation-delay: 2s;
            animation-iteration-count: 1;
            animation-direction: forward;
            animation-fill-mode: forwards;
}
.card-desc3 li.html::after{
    animation-name: html_anim;
}
@keyframes html_anim{
    to{
        width: 95%;
    }
}
.card-desc3 li.css::after{
    animation-name: css_anim;
}
@keyframes css_anim{
    to{
        width: 85%;
    }
}
.card-desc3 li.bs::after{
    animation-name: bs_anim;
}
@keyframes bs_anim{
    to{
        width: 95%;
    }
}
.card-desc3 li.js::after{
    animation-name: js_anim;
}
@keyframes js_anim{
    to{
        width: 70%;
    }
}
.card-desc3 li.c::after{
    animation-name: c_anim;
}
@keyframes c_anim{
    to{
        width: 70%;
    }
}
.card-desc3 li.adobe::after{
    animation-name: adobe_anim;
}
@keyframes adobe_anim{
    to{
        width: 50%;
    }
}
.card-desc3 li.matlab::after{
    animation-name: matlab_anim;
}
@keyframes matlab_anim{
    to{
        width: 70%;
    }
}

    
           
.prof-experience::after{
    clear: both;
    display: table;
    content: '';
}


/* progressbar ends here */
/* Cards ends here */


/* contatc form starts here */
.achievement{
    background-color: rgb(115, 175, 162);
    height: 400px;
    color: white;
}
.contact-me{
    background-color: rgb(115, 175, 162);
    height: 700px;
    color: white;
}
.more-ways{
    background-color: rgb(115, 175, 162);
    height: 400px;
    color: white;
}


.dott-hr{
    border: dotted 6px white;
    width: 45%;
    border-bottom: none;


}
#name, #email{
    height: 40px;
    margin: 5px;
    width: 95%;
    border-radius: 7px;
    text-align: center;
}
#message{
    height: 300px;
    margin: 5px;
    width: 95%;
    border-radius: 7px;
    text-align: center;
}
.btn{
    text-align: center;
}
.send-btn,.reset-btn{
    border-radius: 5px;
    background-color: rgb(35, 63, 63);
    color: white;
    width: 100px;
    
}
.reset-btn:hover, .send-btn:hover{
    background-color: teal;
    box-shadow: 5px 5px 5px white ;
}

.icons button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.cont-links{
    text-align: center;
    
}
.more-ways .cont-title{
    margin-bottom: 30px;
}
.cont-links .soc-btn{
    border: none;
    cursor: pointer;
    font-size: 32px;
    margin: 5px;
}
.soc-btn:hover{
    background-color: gray;
      
    

}
.contact-form::after{
    clear: both;
    display: table;
    content: '';
}

/* contact form ends here */
/* footer design starts here */
.footer{
    background-color: black;
    color: white;
    height: 350px;
    text-align: center;
    padding: 20px;
    font-size: .8rem;
    /* margin-top: 20px; */
}
.footer::after{
    display: table;
    content: '';
    clear: both;
}
.footer-menu a{
    display: block;
    margin: 20px;
    
}
.footer-menu a:hover{
    color: slategray;
    
}
.footer-copy{
    margin-top:10px;
    color: white;
}

/* footer design ends here */
